
.navbar {
    background-color: #A60321;
    padding: 10px;
}

.navbar ul {

    list-style: none;
    margin:auto;
    padding-left: 0;
}

.navbar ul li {
    display: inline;
    
}

.navbar ul li a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 60px;
}

.navbar .search-container {
    float: right;
  }
  
.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

.navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #f3f3f3;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .navbar.search-container button:hover {
    background: #959292;
  }

  @media screen and (max-width: 800px) {
    .navbar .search-container {
      float: none;
    }
    .navbar a, .navbar input[type=text], .navbar .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .navbar input[type=text] {
      border: 1px solid #ffffff;  
    }
  }

.space {
    margin-top: 10px;
    padding-top: 20px;
}

.img {
    padding-top: 50px;
}

.grid-content {
    padding: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 55% 45%;
}

.grid-content-2 {
    padding: 20px;
    margin-left:  20px;
    display: grid;
    grid-template-columns: 45% 55%;
}

.grid-content-2 ul {
    display: inline;
}

.grid-content-2 ul li {
    text-decoration: none;
    margin: 40px;
    padding: 10px;
}

table, th, td {
    border: 2px solid #A60321;
    border-collapse: collapse;
    align-content: center;
  }
th {
    border: 2px solid #ffffff;
}

.footer-padding {
    background-color: #A60321;
    color: #ffffff;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 10px;
    margin-top: 10px;
}

.footer-body {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 10px;
    margin:auto;
    align-items: center;
}